CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
#GameConfig.yaml.in
ShadersOrigin
bin

[Bb]uild/
/[Oo]ut/
#/[Tt]ools/
CompiledShaders/

/\.vs/