CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
#GameConfig.yaml.in
ShadersOrigin

[Bb]uild/
/[Oo]ut/
#/[Tt]ools/
/tools/materialCreator/bin
/tools/shader_compiler/bin
CompiledShaders/

/\.vs/